body {
    margin: 0;
}

.selection-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    height: 100vh;
}

.holder {
    margin: 5px 0;
}

.selection-container div div {
    flex-direction: row;
}

.holder p {
    margin-right: 25px;
}